.container {
    height: 100vh;
    display: flex;align-items: center;
    justify-content: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
#mybtn {
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 2em;
    background-color: #0dbf8c;
    border-radius: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}